/*
*{
    margin: 0;
    padding: 0;
}
*/

#title{
    /*border: solid violet 3px;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#selection{
    /*border: palegreen solid 3px;*/
	/*display: flex;*/
	/*flex-wrap: wrap; 
    makes the elements inside wrap*/
    display: flex;
    height: 400px;
}

#pink-abstract-video{
    position:fixed;
    z-index: -5;
    max-width: 100%;


}

.option{
    /*border: salmon solid 3px;*/
    padding: 20px 20px;
    margin: auto auto;
}
.selectElement{
    width: 140px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: white;
    padding: 8px 16px;
    font-size:xx-large;
}
.numInputs{
    background-color: transparent;
    color: white;
    border: transparent solid 3px;
    width: 180px;
    text-align: center;
    margin: auto auto;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
}

/*the test stuff*/
#testButton{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#testButton:hover{
    background-color: #3e8e41;
}

.testContent{
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        border: 1px solid #ddd;
        z-index: 1;
}
.testContent a{
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#testContainer{
    position: relative;
}

.show {display:block;}